<div class="card">
    <div class="card-header">
        <a class="btn btn-success" routerLink="/add-employee/">Add employee</a>
    </div>
    <div class="card-body">
        <h2>Employees</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor = "let employee of employees; let index_=index">
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>
                        <a class="btn btn-primary" routerLink="/edit-employee/{{ employee.id }}">Edit</a> |
                        <a class="btn btn-danger"  (click)="clear_log(employee.id, index_)">Delete</a> 
                    </td>
                </tr>

            </tbody>
        </table>
        
    </div>
</div>