<div class="card">
    <div class="card-header">
        Employees
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>27</td>
                    <td>Luis Urbina</td>
                    <td>luism3872@gmail.com</td>
                    <td>
                        <a class="btn btn-primary" routerLink="/edit-employee/1">Edit </a> | 
                        <a class="btn btn-warning" routerLink="">Delete</a> 
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>