<div class="card-header">
    Employee Edition
</div>
<div class="card-body">
    <form [formGroup]="employee_form" (ngSubmit)="seend_data()">
        <div class="mb-3">
            <label for="_name" class="form-label">Name:</label>
            <input formControlName="name" type="text" class="form-control" name="_name" aria-describedby="helpId">
        </div>

        <div class="mb-3">
            <label for="_email" class="form-label">Email:</label>
            <input formControlName="email" type="email" class="form-control" name="_email" aria-describedby="helpId">
        </div>

        <div class="btn-group" role="group" aria-label="">
            <button type="submit" class="btn btn-success" >Accept</button>  
            <button type="button" routerLink="/list-employee/" class="btn btn-warning">Cancel</button>
        </div>
    </form>
</div>
