<div class="card-header">
    Employee Edition
</div>
<div class="card-body">
    <form action="">
        <div class="mb-3">
            <label for="_name" class="form-label">Name:</label>
            <input type="text" class="form-control" name="_name" id="" aria-describedby="helpId" placeholder="insert first name and first surname">
        </div>

        <div class="mb-3">
            <label for="_email" class="form-label">Email:</label>
            <input type="text" class="form-control" name="_email" id="" aria-describedby="helpId" placeholder="insert your email address">
        </div>

        <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-success" >Accept</button>  
            <button type="button" class="btn btn-warning">Cancel</button>
        </div>
    </form>
</div>
